.monCompte {
    display: flex;
    flex-direction: column;
    margin: 50 0 50 0;
    padding: 20 30 40 30;
    gap: 20px;
    width: 75%;
    border-radius: 10px;
    box-shadow: var(--box-shadow-light);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categorie {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    border-radius: 10;
    width: fit-content;
    height: 25px;
    padding : 5 15 5 15;
}

.form {
    display: flex;
    justify-content: space-between;
    min-width: 700px;
    gap: 35px;
}

.photoContainer {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}


@media (max-width: 400px) {
    .monCompte {
        width: 85%;
        margin: 30 0 30 0;
        padding: 10 20 30 20;
    }

    .title {
        font-size: 11.5px;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 100%;
        gap: 20px;
    }
}