.deconnect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  height: fit-content;
}

.userInfosContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.userInfosTexts {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  gap: 5px;
}