.link {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
}

.role {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 800;
}

.link span + span {
  margin-top: 5px;
}

.recruteur {
  background-color: var(--recruteur-color);
}

.candidat {
  background-color: var(--candidat-color);
}

@media (max-width: 700px) {
  .logo {
    display: none;
  }
  .role {
    font-size: 20px;
  }
}

@media (max-width: 700px) and (orientation: portrait) {
  .link {
    height: 400px;
  }
}

@media (max-width: 700px) and (orientation: landscape) {
  .link {
    height: 270px;
  }
}