.monComptePage {
    width: 100vw;
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
  }
  
.monCompteModale {
  background-color: rgb(255, 255, 255);
  padding: 10 15 20 15;
  margin: 0 10 0 0;
  width: fit-content;
  min-width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: var(--box-shadow-light);
}

.deconnect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  height: fit-content;
}

.userInfosContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.userInfosTexts {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  gap: 5px;
}