.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color);
}

.logo {
  display: flex;
  align-items: center;
}
.logo:hover {
  background-color: var(--header-color-hover);
}

.monCompteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 13px;
  height: 50px;
  padding: 0 10 0 10;
  border: none;
  background-color: transparent;
}
.monCompteButton:hover {
  background-color: var(--header-color-hover);
}
