.inputsContainer {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-bottom: #e4e4e4 1px solid;
    height: fit-content;
    width: 100%;
}

.infoLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-top: #e4e4e4 1px solid;
    gap: 40px;
}

.field {
    display: flex;
    width: 100%;
}

.label {
    min-width: 180px;
    color: var(--label-color);
    font-weight: 400;
    display: flex;
    align-items: center;
}

.value {
    min-width: 250px;
    font-weight: 550;
    display: flex;
}

@media (max-width: 400px) {
    .infoLine {
        gap: 0px;
    }

    .field {
        display: flex;
        flex-direction: column;
        width: 230px;
        gap: 3px;
    }
    .label {
        width: fit-content;
        font-size: 14px;
    }
    .value {
        width: fit-content;
        font-size: 14px;
    }

}